
What type of math would you like to do? (addition or subtraction)
<br>
<form method="post" action="math">
	<input type="text" name="math_type">
	<br>
What numbers do you want to use?
 	<br>
	<input type="integer" name="p1">
	<br>
	<input type="integer" name="p2">
	<br>
	<br>
	<input type="submit">
</form>
